---
layout: free-trial
title: Free Trial - GitLab Self-Managed
description: "Try all GitLab features - free for 30 days"
extra_css:
  - pricing.css
  - free-trial.css
---

.gitlab-content.container
  .headline-container
    %h1.bold-headline.color-primary
      Deliver better software faster with GitLab
    %h4.margin-top10
      Try GitLab's complete DevOps platform free for 30 days.

.tab-container
  .tab-content
    .tab-pane.active#self-managed{ role: "tabpanel"}
      .container
        .self-managed-col-wrap
          .self-managed-col-left
            .form-container
              .centered-form.self-hosted-signup-form
                %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
                %form#mktoForm_2150
                :javascript
                  MktoForms2.setOptions(
                  {
                    formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
                  });
                  MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 2150, function(form) {
                    //
                    if(typeof(Demandbase) === "object"){
                      Demandbase.utils.loadFormModule();
                    };
                    //
                    form.onSuccess(function() {
                      dataLayer.push(
                      {
                        'event' : 'trial', 
                        'mktoFormId' : form.getId(),
                        'eventCallback' : function()
                        {
                          form.getFormElem().hide();
                          $('.confirmform').attr('style', 'visibility: visible');
                          $('html, body').animate({scrollTop: parseInt($('#confirmform').offset().top-100)}, 500);
                        }, 'eventTimeout' : 3000
                      });
                      return false;
                    });
                  });
              .confirmform#confirmform{ style: "visibility:hidden;" }
                %p Thanks for signing up for your free trial! You will get additional instructions in your inbox shortly.
          .self-managed-col-right                
            = image_tag "/images/demo/mac-screenshot.png"
            %div.margin-top30.self-managed-list-intro
              %strong
                During your 30-day free trial:
            %ul
              %li 
                Test GitLab's seamless DevOps experience with a single, scalable interface for development, operations, and security teams.
              %li
                Learn why GitLab CI/CD consistently WOWs independent research firms
              %li
                See why over 100,000 organizations trust GitLab with their DevOps workflow

= partial "includes/free-trial/features"
= partial "includes/home/customer-logos-transparent"
= partial "includes/layout/footer-blank"

